* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: x-large;
  color: white;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 10vh 35vh 35vh 20vh;
}

section,
div {
  align-content: center;
}

.top-section,
.main-section {
  display: flex;
}

.header {
  flex: 1;
  background-color: black;
}

.menu {
  flex: 3;
  background-color: red;
}

.hero {
  background-color: cornflowerblue;
}

.main {
  background-color: navy;
  flex: 1;
}

.side-section {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: black;
}

.image {
  background-color: skyblue;
  grid-column: 2;
}

.extra {
  background-color: lightgreen;
  grid-column: 2;
}

.banner {
  background-color: tan;
  color: black;
}
